

<section class="hero py-16 px-8">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/3">
            <h6 class="text-lg"><em>Are You Excited??</em></h6>
            <h1 class="text-6xl font-bold">Don't Wait Buy Hurry</h1>
            <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">
                Order Now</button>
        </div>
        <div >
          <img src="/img/heroimg1.png" height="200" width="200">
            
        </div>
        <div class="w-1/3"><img src="/img/heroimg2.png" height="200" width="200"></div>
    </div>
</section>

<section class="menu container mx-auto py-8 px-8">
    <h1 class="text-xl font-bold mb-8">All Phones</h1>

    <div class="grid grid-cols-4 col-gao-12 row-gap-16">
<% products.forEach(function(products){ %>

    <div class="w-64">
        <img class="mb-4 mx-auto" src="/img/<%=products.image%>" height="200" width="200" alt="">
        <div class="text-center">
            <h2 class="mb-4 text-lg"><%=products.name %></h2>
            <div class="flex items-center justify-around">
                <span class="font-bold text-lg"><%=products.price %></span>
                <button data-product="<%=JSON.stringify(products) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold" >
                    <span>+</span>
                    <span class="ml-4">Add To Cart</span>
                </button>
            </div>
        </div>
    </div>
<% })%>


        <!----->
       
    </div>
</section>
